@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;

}

body{
    font-family: 'Lora', serif;
    /* font-family: 'Source Code Pro', monospace; */
    font-size: 14px;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/* start header */

.nav{
    width: 100%;
    height: 4.5vw;

    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .35);
}

.navbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5vw;
}

.header__listbox{
    width: 30vw;
}

.header__list{
    display: flex;
    align-items: center;

    /* font-family: 'Cuprum', serif; */
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: 600;
}
.header__link{
    position: relative;
    padding: 1vw 2vw;
    color: #143ba8;

    transition: all 0.4s ease;
}
.header__link:hover{
    color: #2660ff;
}

.first__link{
    text-align: left;
    padding: 1vw 2vw 1vw 0;
}

.logo{
    width: 30vw;
    text-align: center;
}

.logo__img{
    height: 14vw;
}

.header__contacts{
    width: 30vw;

    font-weight: 400;
    color: rgb(7, 7, 22);
    font-size: 22px;
    text-transform: capitalize;
    text-align: right;
}

.street{
    margin-bottom: 12px;

    font-family: 'Cuprum', serif;
}

.phone{
    padding: 15px 0;

    font-family: 'Lora', serif;
    color: rgb(9, 9, 41);
    font-weight: 600;

    cursor: pointer;
    transition: all 0.5s ease;
}
.phone:hover{
    color: #a71111;
}

/* end header */


/* START CATEGORIES */

.categories{
    width: 100%;
    height: 85vh;
}

.categoriesbox{
    margin: 0 auto;
    margin-top: 25px;
    padding: 1px 20px;
    
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.categories__row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 22vh;

    margin: 20px 0;
}

.categories__item{
    position: relative;
    z-index: 0;

    width: 24%;
    height: 100%;
    margin: 10px 0px;
}
.categories__link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;


    color: #3769f4;
    text-transform: uppercase;

    background-color: #ffffff;
    font-size: 25px;
    outline: none;
    border: 1px solid #3769f44f;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .25);

    transition: all 0.6s ease;
}
.categories__link:hover{
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: 1;

    background: #3769f4ec;
    color: #ffffff;

    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, .25);
}

.categories__button{
    position: relative;

    width: 100%;
    margin: 0 auto;

    text-align: right;
}
.button{
    outline: none;
    margin: 5px  20px;
    padding: 10px 25px;
    
    background: #fff;
    border-radius: 4px;
    border: 2px solid #3769f471;
    
    text-transform: uppercase;
    font-family: 'Cuprum', serif;
    font-size: 18px;
    letter-spacing: 3.2px;
    color: #3769f4;

    transition: all 0.5s ease;
}
.button:hover{
    background: #3769f4;
    border: 2px solid #3769f4;
    /* outline: auto; */

    color: #ffffff;    
    cursor: pointer;
}

/* END CATEGORIES */


/* START FOOTER */



/* END FOOTER */



/* Responsive Media Query CSS */

/* for Menu Start */

@media (max-width: 1460px) {
    .nav{
        height: 60px;
    }
    .navbox{
        height: 60px;
    }
    .header__contacts{
        font-size: 20px;
    }
    .header__list{
        font-size: 22px;
    }
}

@media (max-width: 1160px) {
    .header__contacts{
        display: none;
        font-size: 18px;
    }
    .header__listbox{
        width: 50%;
    }
    .header__list{
        font-size: 20px;
    }
    .logo{
        width: 50%;
        text-align: right;
    }
}

@media (max-width: 700px) {
    .header__list{
        font-size: 18px;
    }
}

/* for Menu End */


/* Responsive Media Query CSS */
