*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
span{
	margin-left: 10px;
	color:  #1D2121;

}

.block{

	width: 40%;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: start;
}

.block__item{
  display: flex;
  justify-content: start;
}

.block__text{
	width: 170px;
	font-size: 28px;
	color:  #707070;
	padding: 15px;
  
}

.block__input{
	border: 2px solid #707070;
	border-radius: 5px;
	width: 300px;
	font-size: 25px;
	color:  #1D2121;
	padding: 15px;
	margin-bottom: 30px;

	outline:  none;
}

.button{
  border: none;
	max-width: 150px;
	min-height: 45px;
	font-size: 23px;
	color:  #707070;
	padding: 10px;
	margin-bottom: 100px;
  text-transform: uppercase;
	outline:  none;
  cursor: pointer;
	border: 3px solid #cacaca;
	border-radius: 5px;
}