.menu{
    margin-bottom: 35px;
    min-height: 100px;
}

.width{
    width: 33.33%;
}

.logo{
    display: flex;
    justify-content: left;
}

.menu-message{
    display: flex;
    justify-content: center;
}

.button-menu{
    display: flex;
    justify-content: right;
}