*{
    margin: 0;
    padding: 0;

}

body{
    background: linear-gradient(-35deg, #4c99ff, #d8e2ff);
}

/* .ramka{
    border: 2px solid black;
} */

.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
    max-width: 100%;
    width: 80%;
}

.inner-message{
    min-height: 100px;
}

.message{
    margin: 40px auto;
}

.panel{
    min-height: 100px;
}

.control-panel{
}