body{

  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

.container{
  max-width: 940px;
  margin: 0 auto;
}

.header__content{
  padding-bottom: 103px;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 88px;

  border-bottom: 2px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.header__link{
  font-family: 'Gilroy-Bold';
  color: #828282;

  border-bottom: 3px solid rgb(255, 255, 255);

  text-transform: capitalize;
  text-decoration: none;

  transition: all 0.4s ease 0s;
}
nav .header__link:hover{
  color: #212121;
  border-bottom: 3px solid #212121;

}

.header__content-inner{
  display: flex;
  justify-content: space-between;
  align-items: end;

  max-height: 188px;
  margin: 39px 0;
}
.header__content-titletext{

  font-family: 'Gilroy-Bold';
  font-size: 47px;
  line-height: 40px;
  
  text-transform: capitalize;
}


.header__content-lang{
  height: inherit;

  font-family: 'Gilroy-Bold';
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  
  transform: rotate(-90deg);
  position: relative;

}

.header__content-langbox{
  position: absolute;

  display: flex;
  top: -17px;
}

.header__content-lang--ru{
  color: #828282;
  position: relative;
}

.header__content-lang--eng{
  color: #828282;
  margin-left: 10px;
  position: relative;
}

.header__content-lang--active{
  transition: all 0.4s ease;
  cursor: pointer;
}
.header__content-lang--active:hover {
  color: #090909;
  cursor: pointer;
}

.header__content-lang--active::before{
  content: "";
  border-left: 3px solid rgba(255, 255, 255, 0.641);
  padding-left: 2px;
  height: 13px;
  
  position: absolute;
  left: -6px;
  top: 4px;
  transition: all 0.4s ease;
}
.header__content-lang--active:hover::before {
  border-left: 3px solid rgba(29, 29, 29, 0.641);
}


.header__content-text{
  font-family: 'Gilroy-Medium';
  
}

.header__img{
  width: 100%;
  max-width: 940px;
}

/* ABOUT */

.about{
  width: 100%;
  background: #F6F6F6;
  padding: 107px 0;
}

.title{
  display: block;
  font-family: 'Gilroy-Bold';
  font-weight: 600;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  color: inherit;
}

.about__textbox{
  max-width: 485px;
  margin: 0 auto;
  margin-top: 17px;

}

.about__text{
  text-align: center;
  margin-bottom: 40px;
}

/* skills__item */

.skills{
  padding: 91px 0 110px 0;
}

.skills__text{
  margin: 69px 0 83px 0;
  text-align: center;
}
.skills__items{
  display: flex;
  justify-content: space-around;
}
.skills__item{
  text-align: center;
  width: 170px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.skills__name{
  padding: 24px 40px;
}
.skills__ratio{
  display: flex;
  justify-content: space-between;
}


/* portfolio */

.portfolio{
  width: 100%;
  background: #F6F6F6;
  padding: 112px 0 49px 0;
}

.portfolio__item{
  padding: 47px 0 52px 0;
}
.portfolio__text{
  font-family: 'Gilroy-Medium';
  margin-top: 44px;
  text-align: center;
  text-decoration-line: underline;
}

/* contacts */

.contacts{
  padding: 114px 0 123px 0;
  margin: 0 auto;
}

.contacts__inner{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.contacts__text{
  text-align: center;
  font-family: 'Gilroy-Medium';

  padding: 20px 0 29px 0;
}


.contacts__social-icons{
  margin: 86px 0 45px 0;
}

.contacts__button{
  width: 180px;
  height: 42px;

  font-weight: 600;
  font-family: 'Gilroy-Bold';
  font-size: 18px;
  color: #fff;
  text-align: center;

  border-radius: 60px;
  background: #070707;

}

.contacts__social-icons{
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__social-text{
  text-align: center;
}