*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #05A88D;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;

}

.header{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;


}

.menu{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.menu__li{
    margin-left: 40px;
    
}

.menu__link{
    color: #05A88D;
    text-decoration: none;
}

.menu__link:hover{
    color: #05A88D;
    border-bottom: 1px solid #05A88D;
    text-decoration: none;
}

.fst{
    color: #05A88D;
    text-decoration: none;
}

/* LOGO */

.menu__logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #05A88D;

}

/*  BUTTONS */


button{
    border: none;
    background: none;
}

.btn{
    text-decoration: none;
    color: #05A88D;

}

.menu__singup{
    margin-right: 70px;

    border: 1px solid #05A88D;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 12.5px 21.5px;

}

.menu__singup:hover{
    color: #fff;
    background: #05A88D;
}

.menu__login{
    margin-right: 49.5px;
    padding: 12.5px 21.5px;
    border: 1px solid #fff;
}

.menu__login:hover{
    border: 1px solid #05A88D;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 12.5px 21.5px;

}