@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;

}

body{
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
  font-weight: inherit;
  color: inherit;
}

p{
  font-weight: inherit;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;

    color: #fff;
}


.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3.35rem 0 7.5rem;
}
/* .logo {
}
.logo__img {

} */
.phone {
  font-size: 2.57rem;
  line-height: 3.78rem;
  text-transform: uppercase;
}
.header__content {
  position: relative;
}


.header__title {
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 4.8rem;
  text-transform: uppercase;
}
.header__subtitle {
  font-family: inherit;
  font-weight: 400;
  font-size: 2.6em;
  line-height: 3.5rem;
  text-transform: uppercase;
}
.header__text {
  font-weight: 300;
  font-size: 1.28rem;
  line-height: 1.42rem;
  margin: 28px 0;
}
.button {
  background: #5A0D67;
  padding: 1rem 3.92rem 1rem;

  font-weight: 300;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #fff;

  transition: all .5s;
}

.button:hover{
  color: #5A0D67;
  background: #fff;
}

.social {
  display: flex;
  align-items: center;
}

.social-position{
  margin: 5rem 0 1rem 4.7rem;
}

.social__link {
  margin-right: 10px;

}

.header__images{
  position: absolute;
  right: 0;
  bottom: -290px;
}

.services{
  padding-top: 19.28em;
}

.title{
  color: #21062A;
  font-size: 2.57em;
  line-height: 3.78em;
  text-transform: uppercase;

  margin-bottom: 3.57em;
  position: relative;
}

.title::after{
  content: "";
  width: 80px;
  height: 3px;
  background-color: #21062A;

  position: absolute;
  top: 65px;
  margin-left: 20px;
}



.services__content-title{
  color: #5A0D67;
  font-weight: 300;
  font-size: 1.28em;
  line-height: 1.92em;
}

.services__content-textbox{
  color: #2C2B2B;
  font-weight: 300;
  font-size: 1.28em;
  line-height: 1.92em;
}

.services__item{
  color: #2C2B2B;
  font-weight: 300;
}

.services__item-title{
  font-size: 1.71em;
  line-height: 2.57em;

}

.services__item-text{
  font-size: 1.28em;
  line-height: 1.92em;
}

